<div class="portfolio-sticky">

    <h4 style="font-weight: 600;">Highlights </h4>

    <ol class="styled-ol">
        {%- for bullet_point in site.data.career.main -%}
        <li>{{ bullet_point.point }}</li>
        {%- endfor -%}
        <!-- <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a> -->
    </ol>

    <div class="shortcut_cards">
        {%- for cards_data in site.data.career.cards -%}
            <div class="col s12 m3 card_class">
                <div class="card gradient-shadow gradient-45deg-amber-amber  border-radius-3">
                    <div class="card-content center">
                        <div class="floating_left">
                            <img src="{{ cards_data.img }}" class="width-40 border-round z-depth-5">
                        </div>
                        <div>
                            <h5 class="white-text lighten-4">{{ cards_data.title }}</h5>
                            <p class="white-text lighten-4">{{ cards_data.subtitle }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {%- endfor -%}
    </div>

</div>
