
/* ==========================================================================
   main page points
   ========================================================================== */




/* SHARED STYLES */

portfolio-sticky {
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing:antialiased;
    font-size:14px;
    float: left;
    min-width: calc(80em- #{$right-sidebar-width} - 1em);
  }

p, ol, li {
    text-align:left;
    color:#3C4043;
  }
  
ol.styled-ol li:last-child {
    border-bottom:none;
  }
  
ol.styled-ol {
    list-style-type: none;
     
    margin: 0;
    margin-left: 0em;
    padding: 0;
     
    counter-reset: li-counter;
}
ol.styled-ol li{
    border-bottom:1px solid #E1E6EB;
    padding:10px 0 12px 0;
}
ol.styled-ol li:before {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    color: #acb4be;
    margin:0 25px 0 0;
 
    content: counter(li-counter);
    counter-increment: li-counter;
    
}
